# build export folder
build

# Ignore bin and lib folders in the root directory
/bin
/lib

# Do not ignore bin and lib folders in subdirectories
/!**/bin/
/!**/lib/

# platform cache file (mac os)
.DS_Store

.codegpt

.vscode