# build export folder
build

# Ignore bin and lib folders in the root directory
/bin
/lib

# Do not ignore bin and lib folders in subdirectories
/!**/bin/
/!**/lib/

# Ignore Qt dependency files
/3rd-party/qt5.12.0-vc15-64

# platform cache file (mac os)
.DS_Store

.codegpt

.vscode